#homepage {
    position: relative;
    width: 100%;

    background: #FFFFFF;
}

#features {
    position: relative;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
    background: #F5FCFD;
}

.features-block {
    width: 332px;
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 15px 47px 15px;
    border-top: 2%;
  }
  
  .features-block-img {
    height: 70px;
  }
  
  .features-block-title {
    font-family: Quicksand;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    font-style: normal;
  
    margin: 25px 0;
  }
  
  .features-block-text {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  
  .features-block-center {
    margin: 6% 2% 0% 2%;
  }

  @media only screen and (max-width: 1200px) {
    .features-block-center {
      margin: 0;
    }
  }

#easy-messaging{
    position:relative;
    width: 100%;
    height: 373px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 
 .easy-messaging-back-screen {
     
     width: 389.71px;
     height: 482.98px;
     margin-left: -720px;
 
 
     background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
     border-radius: 40px;
     transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
 }
 .easy-messaging-screen {
     position: absolute;
     width: 558px;
     height: 373px;
     margin: 55px 580px 0px 0px;
 
     border-radius: 20px;
 }

 .easy-messaging-title{
     padding: 140px 0px 0px 480px;
     position: absolute;
     font-family: Quicksand;
     font-style: normal;
     font-weight: 500;
     font-size: 32px;
     line-height: 40px;
 
     color: #000000;
 }

 .easy-messaging-text{
    width: 476px;
    height: 96px;
    margin: 220px 0px 0px 720px;
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    
    color: #000000;
 }

 .easy-messaging-read-more{
     width: 83px;
     height: 24px; 
     margin: 350px 0px 0px 320px; 
     position: absolute;   
     font-family: Quicksand;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 150%;

     color: #0063DD;
 }

 .easy-messaging-read-more-arrow {
    position:absolute;
    width: 67px;
    height: 0px;
    margin: 355px 0px 0px 500px;
 }

 #keep-in-touch{
    position:relative;
    width: 100%;
    height: 408px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 
 .keep-in-touch-back-screen {
     
     width: 389.71px;
     height: 482.98px;
     margin-left: 760px;
     margin-top: 270px;
 
 
     background: linear-gradient(272deg, #0F7BFF 4.58%, #0063DD 78.9%);
     border-radius: 40px;
     transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
 }
 .keep-in-touch-screen {
     position: absolute;
     width: 362px;
     height: 408px;
     margin: 250px -610px 0px 0px;

     border-radius: 20px;
 }

 .keep-in-touch-title{
     padding: 350px 900px 0px 0px;
     position: absolute;
     font-family: Quicksand;
     font-style: normal;
     font-weight: 500;
     font-size: 32px;
     line-height: 40px;
 
     color: #000000;
 }

 .keep-in-touch-text{
    width: 476px;
    height: 96px;
    margin: 425px 640px 0px 0px;
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    
    color: #000000;
 }

 .keep-in-touch-read-more{
     width: 83px;
     height: 24px; 
     margin: 550px 1040px 0px 0px; 
     position: absolute;   
     font-family: Quicksand;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 150%;

     color: #0063DD;
 }

 .keep-in-touch-read-more-arrow {
    position:absolute;
    width: 67px;
    height: 0px;
    margin: 556px 860px 0px 0px;
 }

 #how-does-it-works{
    position: relative;
    width: 100%;
    height: 635px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .how-does-it-works-title{
    position: absolute;
    margin-top: 500px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    
    color: #000000;
 }

 .how-does-it-works-text{
    position: absolute;
    margin-top: 560px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    
    color: #000000;
 }

 