#homepage {
    position: relative;
    width: 100%;

    background: #FFFFFF;
}

#header{
  height:1029px;
  width: 100%;
  position:relative;
  background: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background: url(../vector.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}


.header-navigation-bar{
  position:absolute;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-logo{
  width: 179px;
  height: 100px;
  background: #0F7BFF;
  border-radius: 0px 0px 21.5px 21.5px;
}

.header-logo-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  padding-top:25px;
  color: #FFFFFF;
  text-align: center;
}

.header-menu{
  margin-left: 320px;
  margin-right: 50px;
  width: 355px;  
}

@media only screen and (max-width: 700px) and (min-width: 500px) {
  .header-menu {
    margin-right:70%;
  }
}

@media only screen and (max-width: 500px) and (min-width: 200px) {
  .header-menu {
    margin-right:100%;
  }
}

.header-menu ul{
  list-style: none;
  padding-right: 0%;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.header-menu li{
  display: inline;
  padding-left: 5%;
}

.header-menu a{
text-decoration: none;
color: #929292;;
}

.header-navigation-bar-button{
  width: 165px;
  height: 50px;
  
  background: #0063DD;
  border-radius: 25px;
  
}

.header-navigation-bar-button-text{
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 15px;

  color: #FFFFFF;
  
}



.header-block{
  width: 655px;
  height: 239px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:200px;
  
}

@media only screen and (max-width: 800px) {
  .header-block {
    margin:300px;
  }
}

.header-block-title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  
}

.header-block-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  margin-top: 25px;
  text-align: center;

  color: #929292;
}

.header-block-buttons{
  width: 362px;
  margin-top: 25px;
}

.header-block-button-1{
  width: 166px;
  height: 50px;
  border: 2px solid #0F7BFF;
  box-sizing: border-box;
  border-radius: 25px;
  background: #0F7BFF;
 
}

.header-block-button-2{
  width: 166px;
  height: 50px;
  border: 2px solid #0F7BFF;
  box-sizing: border-box;
  border-radius: 25px;
  
  margin-top: -14%;
  margin-left: 53%;
}
  
 .header-block-button-1-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 10px;
  color: #ffff;
}

.header-block-button-2-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 10px;
  color: #0F7BFF;
}

.header-img{
  position: absolute;
  max-width: 804px;
  bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;
  
}

#features {
    position: relative;
    
    width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
    background: #F5FCFD;
}

.features-block {
    width: 332px;
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 15px 47px 15px;
    border-top: 2%;
  }
  
  .features-block-img {
    height: 70px;
  }
  
  .features-block-title {
    font-family: Quicksand;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    font-style: normal;
  
    margin: 25px 0;
  }
  
  .features-block-text {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  
  .features-block-center {
    margin: 6% 2% 0% 2%;
  }

  @media only screen and (max-width: 1200px) {
    .features-block-center {
      margin: 0;
    }
  }

#about{
    width: 100%;
    height: 1308.58px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.easy-messaging{
    position:relative;
    width: 100%;
    height: 373px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 
 .easy-messaging-back-screen {
     
     width: 389.71px;
     height: 482.98px;
     margin-left: -720px;
 
 
     background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
     border-radius: 40px;
     transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
 }
 .easy-messaging-screen {
     position: absolute;
     width: 558px;
     height: 373px;
     margin: 55px 580px 0px 0px;
 
     border-radius: 20px;
 }

 .easy-messaging-title{
     padding: 140px 0px 0px 480px;
     position: absolute;
     font-family: Quicksand;
     font-style: normal;
     font-weight: 500;
     font-size: 32px;
     line-height: 40px;
 
     color: #000000;
 }

 .easy-messaging-text{
    width: 476px;
    height: 96px;
    margin: 220px 0px 0px 720px;
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    
    color: #000000;
 }

 .easy-messaging-read-more{
     width: 83px;
     height: 24px; 
     margin: 350px 0px 0px 320px; 
     position: absolute;   
     font-family: Quicksand;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 150%;

     color: #0063DD;
 }

 .easy-messaging-read-more-arrow {
    position:absolute;
    width: 67px;
    height: 0px;
    margin: 355px 0px 0px 500px;
 }

 .keep-in-touch{
    position:relative;
    width: 100%;
    height: 408px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 
 .keep-in-touch-back-screen {
     
     width: 389.71px;
     height: 482.98px;
     margin-left: 760px;
     margin-top: 270px;
 
 
     background: linear-gradient(272deg, #0F7BFF 4.58%, #0063DD 78.9%);
     border-radius: 40px;
     transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
 }
 .keep-in-touch-screen {
     position: absolute;
     width: 362px;
     height: 408px;
     margin: 250px -610px 0px 0px;

     border-radius: 20px;
 }

 .keep-in-touch-title{
     padding: 350px 900px 0px 0px;
     position: absolute;
     font-family: Quicksand;
     font-style: normal;
     font-weight: 500;
     font-size: 32px;
     line-height: 40px;
 
     color: #000000;
 }

 .keep-in-touch-text{
    width: 476px;
    height: 96px;
    margin: 425px 640px 0px 0px;
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    
    color: #000000;
 }

 .keep-in-touch-read-more{
     width: 83px;
     height: 24px; 
     margin: 550px 1040px 0px 0px; 
     position: absolute;   
     font-family: Quicksand;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 150%;

     color: #0063DD;
 }

 .keep-in-touch-read-more-arrow {
    position:absolute;
    width: 67px;
    height: 0px;
    margin: 556px 860px 0px 0px;
 }

 #how-does-it-works{
    position: relative;
    width: 100%;
    
    background: #F5FCFD;
    padding-bottom: 100px;
    padding-top: 100px;
 }

 .how-does-it-works-title{
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 2%;
    
    color: #000000;
 }

 .how-does-it-works-text{
  
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    
    color: #000000;
 }

.how-does-it-works-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

 .how-does-it-works-block {
  width: 333px;
  height: 221px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 47px 0px;
  border-top: 2%;
}

.how-does-it-works-block-img {
  height: 70px;
  margin: 25px 0px;
}

.how-does-it-works-block-title {
  font-family: Quicksand;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;

  margin: 25px 0;
}

.how-does-it-works-block-text {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.how-does-it-works-block-line{
  border:none;
  border-top:2px dashed #0F7BFF;
  color:#fff;
  background-color:#fff;
  height:0px;
  width:5%;
  margin: 0px -110px 70px -110px;
  padding: 0px 100px 0px 100px;
}

@media only screen and (max-width: 1100px) {
  .how-does-it-works-block-line {
    border:none;
  }
}
 
#rates{
  width: 100%;
  height: 835px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pricing-plan-block{
  width: 332px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 40px 0px 47px 0px;
  border-top: 2%;
  margin-right: 35px;
}

.pricing-plan-block-title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.pricing-plan-block-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  margin:25px 0;
}

.pricing-plan-block-button-1{
  background: #0F7BFF;
  border-radius: 25px 0px 0px 25px;
  width: 169px;
  height: 50px;
  
  
  
}

.pricing-plan-block-button-1-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  padding-top:15px;
}

.pricing-plan-block-button-2{
  background: #FFFFFF;
  border: 3px solid #0F7BFF;
  box-sizing: border-box;
  border-radius: 0px 25px 25px 0px;
  width: 166px;
  height: 50px;
  margin-top: -50px;  
  margin-left: 169px;
  

  
}

.pricing-plan-block-button-2-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: #0063DD;
  text-align: center;
  padding-top:12px;
}

.rates-block{
  width: 362px;
  height: 576px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 0px 0px;
  border-top: 2%;
  margin: 100px 15px;

  
  box-shadow: 0px 4px 20px rgba(0, 78, 172, 0.08);
    border-radius: 5px;
}

.rates-block-img{
  width: 114px;
  margin:20px 0;
}

.rates-block-title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;

}

.rates-block-line{
  width: 303px;
  height: 0px;
  border-bottom: 2px solid #E9F3F8;
}

.rates-block-text{
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 184%;
  margin: 25px 0px 25px 0px;


  text-align: center;
}

.rates-block-price{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom:25px ;

  color: #0F7BFF;
}

.rates-block-button{
  width: 166px;
  height: 50px;

  background: #FFFFFF;
  border: 2px solid #0F7BFF;
  box-sizing: border-box;
  border-radius: 25px;
  color: #0F7BFF;
  
  
}

.rates-block-button-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  
  padding-top:12px;
}

.premium{
  
  background: #0F7BFF;
  border-radius: 25px;
  color: #FFFFFF;
}