#homepage {
    position: relative;
    width: 100%;

    background: #FFFFFF;
}

#header{
  height:1029px;
  width: 100%;
  position:relative;
  background: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background: url(../vector.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}


.header-navigation-bar{
  position:absolute;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-logo{
  width: 179px;
  height: 100px;
  background: #0F7BFF;
  border-radius: 0px 0px 21.5px 21.5px;
}

.header-logo-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  padding-top:25px;
  color: #FFFFFF;
  text-align: center;
}

.header-menu{
  margin-left: 320px;
  margin-right: 50px;
  width: 355px;  
}

@media only screen and (max-width: 700px) and (min-width: 500px) {
  .header-menu {
    margin-right:70%;
  }
}

@media only screen and (max-width: 500px) and (min-width: 200px) {
  .header-menu {
    margin-right:100%;
  }
}

.header-menu ul{
  list-style: none;
  padding-right: 0%;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.header-menu li{
  display: inline;
  padding-left: 5%;
}

.header-menu a{
text-decoration: none;
color: #929292;;
}

.header-navigation-bar-button{
  width: 165px;
  height: 50px;
  
  background: #0063DD;
  border-radius: 25px;
  
}

button.header-navigation-bar-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.header-navigation-bar-button:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

.header-navigation-bar-button a{
  text-decoration: none;
  }

.header-navigation-bar-button-text{
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 15px;

  color: #FFFFFF;
  
}



.header-block{
  width: 655px;
  height: 239px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:200px;
  
}

@media only screen and (max-width: 800px) {
  .header-block {
    margin:300px;
  }
}

.header-block-title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  
}

.header-block-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  margin-top: 25px;
  text-align: center;

  color: #929292;
}

.header-block-buttons{
  width: 362px;
  margin-top: 25px;
}

.header-block-button-1{
  width: 166px;
  height: 50px;
  border: 2px solid #0F7BFF;
  box-sizing: border-box;
  border-radius: 25px;
  background: #0F7BFF;
 
}

button.header-block-button-1 {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.header-block-button-1:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

.header-block-button-1 a{
  text-decoration: none;
  }

.header-block-button-2{
  width: 166px;
  height: 50px;
  border: 2px solid #0F7BFF;
  box-sizing: border-box;
  border-radius: 25px;
  
  margin-top: -14%;
  margin-left: 53%;
}

button.header-block-button-2 {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.header-block-button-2:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

.header-block-button-2 a{
  text-decoration: none;
  }
  
 .header-block-button-1-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 10px;
  color: #ffff;
}

.header-block-button-2-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 10px;
  color: #0F7BFF;
}

.header-img{
  position: absolute;
  max-width: 804px;
  bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;
  
}

#features {
    position: relative;
    
    width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
    background: #F5FCFD;
}

.header-scroll-down{
  position: absolute;
  width: 114px;
  height: 114px;
  margin-left: 15px;
  margin-top: -600px;
}

.features-block {
    width: 332px;
    background: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 15px 47px 15px;
    border-top: 2%;
  }
  
  .features-block-img {
    height: 70px;
  }
  
  .features-block-title {
    font-family: Quicksand;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    font-style: normal;
  
    margin: 25px 0;
  }
  
  .features-block-text {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  
  .features-block-center {
    margin: 6% 2% 0% 2%;
  }

  @media only screen and (max-width: 1200px) {
    .features-block-center {
      margin: 0;
    }
  }

  #about{
    position: relative;
    width: 100%;
    height: 1308.58px;
  
    display: flex;
    flex-wrap: wrap;
    
}

.easy-messaging{
    position:relative;
    width: 100%;
    height: 655px;
    display: flex;
    flex-wrap: wrap;
 }

 .easy-messaging-img{
  height:497.39px;
 }

 .easy-messaging-back-screen {
  position: absolute;  
  max-width: 609px;
  margin-left: 100px;  
  margin-top: -60px;   
 }

 .easy-messaging-screen {
   position: absolute;
   margin-top: 60px; 
   max-width: 558px;
   margin-left:150px;
  
 }

 
 @media only screen and (max-width: 350px){
  .easy-messaging-back-screen {
    bottom:400px;
    left:100px;
  }
}

@media only screen and (max-width: 400px) and (min-width: 350px) {
  .easy-messaging-back-screen {
    bottom:350px;
    left:100px;
  }
}

 @media only screen and (max-width: 500px) and (min-width: 400px) {
  .easy-messaging-back-screen {
    bottom:300px;
    left:100px;
  }
}

 @media only screen and (max-width: 600px) and (min-width: 500px) {
  .easy-messaging-back-screen {
    bottom:200px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  .easy-messaging-back-screen {
    bottom:140px;
  }
}

.easy-messaging-block{
  position: relative;
  
  height: 373px;
  margin-left: 800px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

 .easy-messaging-title{
     font-family: Quicksand;
     font-style: normal;
     font-weight: 500;
     font-size: 32px;
     line-height: 40px;
     padding-bottom: 25px;
     padding-right: 220px;
 
     color: #000000;
 }

 .easy-messaging-text{

    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 25px;
    color: #000000;
 }

 .easy-messaging-read-more{
    
     font-family: Quicksand;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 150%;
     color: #0063DD;
     padding-right: 370px;
 }

 .easy-messaging-read-more-arrow {
    margin-top: -20px;
    padding-right:200px;
 }

 .keep-in-touch{
    position:relative;
    width: 100%;
    height: 655px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 
.keep-in-touch-img {
  height:620.49px;
}

 .keep-in-touch-back-screen {
   position: absolute;
   max-width: 609px; 
   right:100px; 
 }

 .keep-in-touch-screen {
     position: absolute;
     max-width: 362px;
     margin-top:30px;
     right:280px;
     
 }

.keep-in-touch-block{
  position: relative;
  
  height: 373px;
  margin-right: 700px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

 .keep-in-touch-title{
     font-family: Quicksand;
     font-style: normal;
     font-weight: 500;
     font-size: 32px;
     line-height: 40px;
     padding-right: 245px;
     padding-bottom: 25px;
     color: #000000;
 }

 .keep-in-touch-text{

    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    padding-bottom:25px;
    /* or 24px */
    
    
    color: #000000;
 }

 .keep-in-touch-read-more{
      
     font-family: Quicksand;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 150%;
     padding-right:370px;
     color: #0063DD;
 }

 .keep-in-touch-read-more-arrow {
    padding-right:180px;
    margin-top:-20px;
 }

 #how-does-it-works{
    position: relative;
    width: 100%;
    margin-top: -100px;
    background: #F5FCFD;
    padding-bottom: 100px;
    padding-top: 100px;
 }

 .how-does-it-works-title{
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 2%;
    
    color: #000000;
 }

 .how-does-it-works-text{
  
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    
    color: #000000;
 }

.how-does-it-works-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

 .how-does-it-works-block {
  width: 333px;
  height: 221px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 47px 0px;
  border-top: 2%;
}

.how-does-it-works-block-img {
  height: 70px;
  margin: 25px 0px;
}

.how-does-it-works-block-title {
  font-family: Quicksand;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;

  margin: 25px 0;
}

.how-does-it-works-block-text {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.how-does-it-works-block-line{
  border:none;
  border-top:2px dashed #0F7BFF;
  color:#fff;
  background-color:#fff;
  height:0px;
  width:5%;
  margin: 0px -115px 0px -115px;
  padding: 0px 100px 0px 100px;
}

@media only screen and (max-width: 1100px) {
  .how-does-it-works-block-line {
    border:none;
  }
}
 
#rates{
  width: 100%;
  height: 835px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pricing-plan-block{
  width: 332px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 40px 0px 47px 0px;
  border-top: 2%;
  margin-right: 35px;
}

.pricing-plan-block-title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.pricing-plan-block-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: left;
  margin:25px 0;
}

.pricing-plan-block-button-1{
  background: #0F7BFF;
  border-radius: 25px 0px 0px 25px;
  width: 169px;
  height: 50px;
  box-sizing: border-box;
  border: 3px solid #0F7BFF;
  color: #FFFFFF;
  
}

button.pricing-plan-block-button-1 {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.pricing-plan-block-button-1:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

.pricing-plan-block-button-1 a{
  text-decoration: none;
  }

.pricing-plan-block-button-1-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  padding-top:12px;
  padding-bottom: 12px;
}

.pricing-plan-block-button-2{
  background: #FFFFFF;
  border: 3px solid #0F7BFF;
  box-sizing: border-box;
  border-radius: 0px 25px 25px 0px;
  width: 169px;
  height: 50px;
  margin-left: 169px;
  margin-top: -50px;
  color: #0F7BFF;
  
}

button.pricing-plan-block-button-2 {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.pricing-plan-block-button-2:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

.pricing-plan-block-button-2 a{
  text-decoration: none;
  }

.pricing-plan-block-button-2-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: #0063DD;
  text-align: center;
  padding-top:12px;
  padding-bottom: 12px;
}

.rates-block{
  width: 362px;
  height: 576px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 0px 0px;
  border-top: 2%;
  margin: 100px 15px;

  
  box-shadow: 0px 4px 20px rgba(0, 78, 172, 0.08);
    border-radius: 5px;
}

.rates-block-img{
  width: 114px;
  margin:20px 0;
}

.rates-block-title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;

}

.rates-block-line{
  width: 303px;
  height: 0px;
  border-bottom: 2px solid #E9F3F8;
}

.rates-block-text{
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 184%;
  margin: 25px 0px 25px 0px;


  text-align: center;
}

.rates-block-price{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom:25px ;

  color: #0F7BFF;
}

.rates-block-button{
  width: 166px;
  height: 50px;

  background: #FFFFFF;
  border: 2px solid #0F7BFF;
  box-sizing: border-box;
  border-radius: 25px;
  color: #0F7BFF;
  
  
}

button.rates-block-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.rates-block-button:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

.rates-block-button a{
  text-decoration: none;
  }

.rates-block-button-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  
  padding-top:12px;
}

.premium{
  
  background: #0F7BFF;
  border-radius: 25px;
  color: #FFFFFF;
}


#latest-news{
  width: 100%;
  height: 965px;
  position: relative;
  
}

.latest-news-title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 25px;
}

.latest-news-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;

  text-align: center;
}

.latest-new-postis{
  width: 1197px;
  height: 576px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.latest-new-postis-post-1{
  width: 558px;
  height: 572px;
  padding-left: 100px;
}

.latest-new-postis-post-1-img{
  width: 571px;
  height: 381px;
  margin-bottom:-50px;
}

.latest-new-postis-post-1-title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  margin-bottom:20px;
  color: #0063DD;
  width: 558px;
}

.latest-new-postis-post-1-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 25px;
}

.continue-reading-arrow{
  margin-top:-18px;
  margin-left: 150px;
}

.continue-reading{
  width: 217px;
  height: 24px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  font-family: Quicksand;

  color: #0063DD;
}

.latest-new-postis-post-2{
  width: 609px;
  height: 134px;
  padding-left: 100px;
}

.latest-new-postis-post-2-img{
  width: 203px;
  height: 136px;
  padding-left: 30px;
  margin-bottom: 25px;
}

.latest-new-postis-post-2-title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-left: 190px;
  margin-top:-135px;
  width: 413px;
}

.latest-new-postis-post-3-4-title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-left: 220px;
  margin-top:-150px;
  
}

.latest-new-postis-post-2-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  margin-left: 192px;
  margin-top: 15px;
  width: 339px;
}

.latest-new-postis-post-3-4-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  margin-left: 222px;
  margin-top: 15px;
}

.latest-new-postis-post-3{
  width: 609px;
  height: 134px;
  margin-bottom: 25px;
} 

.latest-new-postis-post-3-img{
  width: 203px;
  height: 147px;
  padding-left: 30px;
}


.latest-new-postis-post-4{
  width: 609px;
  height: 134px;
}

.latest-new-postis-post-4-img{
  width: 203px;
  height: 147px;
  padding-left: 30px;
}

#free-trial{
  position: relative;
  width: 100%;
  height: 335px;
  background: #F5FCFD;
  margin-top: 250px;
}

.free-trial-block{
  
  height: 89px;
}

.free-trial-title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #000000; 
  padding-top: 110px;
  padding-left: 270px;
}

.free-trial-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  padding-left:275px;
  padding-top: 50px ;

  color: #000000;
}

.free-trial-button{
  width: 264px;
  height: 50px;
  background: #0F7BFF;
  border-radius: 25px;
  margin-left: 770px;
  margin-top: 70px;
}

button.free-trial-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.free-trial-button:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

.free-trial-button a{
  text-decoration: none;
  }

.free-trial-button-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding-top: 15px;
  padding-left: 70px;
  color: #FFFFFF;
}

.free-trial-arrow{
  width: 30px;
  height: 0px;
  margin-left: 170px;
  margin-top: -17px;
}

#pagination{
  width: 100%;
  height: 360px;

  background: #0F7BFF;
}

.pagination-logo{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  padding-top:100px;
}

.pagination-buttons{
  width:558px;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
  margin-top: 40px;
}

.pagination-button-1{
  width: 392px;
  height: 50px;
  background: #0063DD;
  border-radius: 25px;
  text-align: center;
  padding-top: 10px;
  left: 100px;
}

button.pagination-button-1 {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.pagination-button-1:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

.pagination-button-1 a{
  text-decoration: none;
  }

.pagination-button-1-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  
  color: #FFFFFF;
}

.pagination-button-2{
  width: 166px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 0px 25px 25px 0px;
  margin-left: 370px;
  margin-top: -50px;
  padding-top:10px;
}

button.pagination-button-2 {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.pagination-button-2:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

.pagination-button-2 a{
  text-decoration: none;
  }

.pagination-button-2-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #0063DD;
 
}

#footer{
  position: absolute;
  bottom:-100;
  width: 100%;
  height: 125px;
  background: #0063DD;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer-text{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-right: 80px;

}

.footer-menu{  
  
  margin-right:100px;
}

.footer-menu ul{
  list-style: none;
  padding-right: 0%;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  
}

.footer-menu li{
  display: inline;
  padding-right:25px;
}

.footer-menu a{
text-decoration: none;
color: #FFFFFF;
}

.footer-social-media-block{
  right: 100px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-media{
  
  padding-right:25px;
}


.footer-scroll-up{
  position: absolute; 
  bottom:30px;
   right:10px;
}